body { 
	margin:0; 
	padding:0;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}
	#map { 
		float: left;
  		width: 70vw;
		height: 95vh;
		max-width: 700px;
		max-height: 500px;
	}
    #tweets {
    	position: absolute; 
    	left: 700px; 
    	width: 300px;
    	top: 20px;
    	height: 480px; 
    	overflow-y: scroll;
    }
    .tweetpost {
    	margin: 10px;
    	margin-bottom: 25px;
    }

    .tomap {
    	font-size: 11px;
		cursor: pointer;
		text-decoration: underline;
		color: blue;
    }

    #selector {
    	float: left;
		text-align: justify;
		width: 30vw;
		max-width: 300px;
		height: 23px;
	 	cursor: pointer;
	 	font-size: 14px;
    }

    @media MediaSmallScreen {
    	#map {
    		float: none;
    		width: 95vw;
    	}
    	#selector {
    		float: none;
    		width: 95vw;
    	}
    	#tweets {
    		width: 95vw;
    	}
    }
	 
    .JanSmidcro {
	  		background-color: #b2182b;
	  		padding: 4px;
	  		color: white;
	 }

	 .JanBumba {
	  		background-color: #4d4d4d;
	  		padding: 4px;
	  		color: white;
	 }
	 .Lenkakab {
	  		background-color: #4575b4;
	  		padding: 4px;
	  		color: white;
	 }
	 .All {
	 	background-color: #d9d9d9;
	  	padding: 4px;
	 }
	blockquote.twitter-tweet {
	  display: inline-block;
	  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	  font-size: 12px;
	  font-weight: bold;
	  line-height: 16px;
	  border-color: #eee #ddd #bbb;
	  border-radius: 5px;
	  border-style: solid;
	  border-width: 1px;
	  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	  margin: 10px 5px;
	  padding: 0 16px 16px 16px;
	  max-width: 468px;
	}
	 
	blockquote.twitter-tweet p {
	  font-size: 16px;
	  font-weight: normal;
	  line-height: 20px;
	}
	 
	blockquote.twitter-tweet a {
	  color: inherit;
	  font-weight: normal;
	  text-decoration: none;
	  outline: 0 none;
	}
	 
	blockquote.twitter-tweet a:hover,
	blockquote.twitter-tweet a:focus {
	  text-decoration: underline;
	}